/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav .brand-logo {
   color: #444;
 }
 
 p {
   line-height: 2rem;
 }
 
 .logo{
   width: 135px;
   margin-top: 5px;
 }
 
 
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 
 .icon-block{
   background-color: rgb(255, 255, 255);
   cursor: pointer;
   color: rgb(235, 109, 55);
   margin-left: 4px;
   margin-right: 4px;
   border-radius: 10px;
 }
 
 
 .icon-block:hover{
   -webkit-box-shadow: #FFF 0 -1px 20px, rgb(79, 79, 71) 0 1px 1px, #8d8174 0 -1px 2px, gray 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
   box-shadow: #FFF 0 -1px 1px, #ff0 0 -2px 1px, #ff8000 0 -1px -5px, rgb(190, 152, 152) 0 -1px 40px, 5px 5px 1px 5px rgba(0,0,0,0);
   -moz-transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -o-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   transition: 0.5s;
 }
 
 nav ul a{
   color: orangered ;
 }
 
 nav ul a:hover{
 color: rgb(255, 255, 255);
 background-color: rgb(255, 130, 85);
 transition: 0.5s;
 }
 
 i{
   color: gray;
   padding-top: 10px;
 }
 
 
 @media only screen and (max-width : 600px) {
   .logo{
     margin-bottom: 80px;
   }
   i#menu.material-icons{
     width: 10px;
   }
   div.nav-wrapper.container.navbar-fixed{
     height: 1px;
     display: flex;
   }
 }
 
 #nav-mobile{
   background-color: black;
 }
 
 iframe{
   border-radius: 20px;
   border: ;
 }
 
 /*Modificar estilo da navbar mobile/*
 
 
 .SIDEBAR{
   
 }